@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Rubik&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;
  color: #444;
  &>div {
    padding: 24px;
  }
  a {
    color: #3399CC;
    text-decoration: none;
  }
  p {
    line-height: 24px;
  }
  main {
    width: 800px;
    margin: 0 auto;
  }
}
form {
  div {
    margin-bottom: 0.75em;
  }
  label {
    display: block;
    margin-bottom: 0.25em;
  }
  input {
    width: 250px;
    padding: 0.6em 0.7em;
    font-size: 0.95em;  
  }
  button {
    padding: 1.75em 2.75em;
    background: #39c;
    color: white;
    border: 0px;
    cursor: pointer;

  }
}