.userProfile {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 70px;
  background: #f2f2f2;
  height: 60px;
  border-radius: 4px 30px 30px 4px;
  padding-left: 10px;
  border-left: 1px solid #e2e2e2;
  .userName {
    align-self: center;
    padding-right: 8px;
    span {
      color: #555;
    }
  }
  .userPhoto {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}