@import url('https://fonts.googleapis.com/css?family=Lobster+Two:700|Rubik&display=swap');
body {
  font-family: 'Rubik', sans-serif;
  &>div {
    padding: 24px;
  }
  a {
    color: #3399CC;
    text-decoration: none;
  }
  p {
    line-height: 24px;
  }
  main {
    width: 800px;
    margin: 0 auto;
  
  }
}
