.adminBtn {
  background: #444;
  color: #fff;
  width: 200px;
  padding: 10px;
  display: block;
  text-align: center;
  border-radius: 4px;
  margin: 5px auto;
  cursor: pointer;
  &:hover {
    background: #555;
  }
  &:active {
    background: #333;
  }
}
.dataGroup {
  width: 230px;
  h3 {
    margin-top: 0px;
  }
}
.dataBlock{
  background: #f5f5f5;
  padding: 10px;
  margin-top: 8px;
}
.updateRespData {
  font-size: 11px;
  margin-top: 7px;
  margin-bottom: 0px;
  line-height: 10px;
  text-align: left;
}